<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" >
  <sitecore>
    
    <pipelines>
      <initialize>
        <processor type="TheReference.DotNet.Sitecore.AnalyticsDatabaseManager.Pipelines.Initialize.RegisterRoutes, TheReference.DotNet.Sitecore.AnalyticsDatabaseManager" />
      </initialize>
      <group groupName="ADM">
        <pipelines>
          
          <!--This pipeline allows to restrict contacts to be removed depending on condition-->
          <filterContact>
            <processor type="TheReference.DotNet.Sitecore.AnalyticsDatabaseManager.Pipelines.FilterContact.FilterContactByIdentifier, TheReference.DotNet.Sitecore.AnalyticsDatabaseManager" /> 
            <processor type="TheReference.DotNet.Sitecore.AnalyticsDatabaseManager.Pipelines.FilterContact.FilterContactInList, TheReference.DotNet.Sitecore.AnalyticsDatabaseManager" /> 
          </filterContact>

          <filterInteraction>
            <processor type="TheReference.DotNet.Sitecore.AnalyticsDatabaseManager.Pipelines.FilterInteraction.FilterInteractionByFormData, TheReference.DotNet.Sitecore.AnalyticsDatabaseManager" />
          </filterInteraction>
          
        </pipelines>
      </group>
    </pipelines>

    <analyticsDatabaseManager>
      <robotNameParts>
        bot
        crawl
        fetch
        spider
        monitor
        ForwardSearch
      </robotNameParts>
		  <robotUserAgents>
			  Tango/04 Web ThinAgent
			  Mozilla/5.0 (compatible; WAPT Pro; Windows)
			  Xenu Link Sleuth/1.3.8
			  Google favicon
			  SSL Labs (https://www.ssllabs.com/about/assessment.html)
			  Zabbix
			  facebookexternalhit/1.1 (+http://www.facebook.com/externalhit_uatext.php)
			  AddThis.com (http://support.addthis.com/
			  facebookexternalhit/1.1
			  Mediapartners-Google
			  Pinterest/0.2 (+http://www.pinterest.com/)
			  YahooCacheSystem; YahooWebServiceClient
		  </robotUserAgents>
    </analyticsDatabaseManager>

    <settings>
      
      <!--For Sitecore 8.1 or newer. Set this settign to true if custom mongo driver setting are specified in the updateMongoDriverSettings pipeline   -->
      <setting name="ADM.UseUpdateMongoDriverSettingsPipeline" value ="false" />
            
    </settings>
  </sitecore>
</configuration>